body {
  background-color: #020618;
  margin: 50px 213.5px;
}

header {
  display: flex;
  flex-direction: column;
  gap: 0px;
}
header p {
  font-size: 30px;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 8px;
  line-height: 36px;
}
small{
    color: white;
}

.header button{
  background-color: #4f39f6;
  color: #ffffff;
  width: 137.8px;
  height: 48px;
  border-radius: 10px;
  margin-top: 43px;
  margin-bottom: 60.5px;
  border: 1px solid #4F39F6;
}
header button:hover{
    background-color:#2209e6 ;
    opacity: 1;
}

.modal-form{
    background-color: #1d293d;
    position:fixed;
    top: 50%;
    left: 50%;
    translate:-50%;

}
.modal-form{
    z-index: 100;


}
.modal-form input{
    width: 100%;
    border-radius: 10px;
    background-color: #0f172b;
    border: #0f172b;
}
.button-div{
    display: flex;
    justify-content: center;
    margin:top;
    gap: 16px;
    align-items: center;
}
.hidden{
    display: none !important;
}
/* side bar stuff*/
.sidebar div{
    display:grid ;
    background-color: white;
}